@import "../../global.scss";
.blog{

    .blogs{


   ul {
      margin: 10px;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      
      li {
        font-size: 20px;
        margin-right: 50px;
        padding: 7px ;
        border-radius: 12px;
        cursor: pointer;
        &.active {
          background-color: #18d26e;
          color: white;
        

        }
        @media (max-width: 450px) {
          font-size: 10px;
          border-radius: 12px;
          margin: 5px;
          padding: 5px;
           }
       
      }
      @media (max-width: 450px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      

         }
    }
        .box-container{
          @include grid(31rem);
      
          .box{
            text-align: center;
            padding:2rem;
            border-radius: .5rem;
            background: $light-bg;
            box-shadow: $box-shadow;
      
            &:hover .image img{
              transform: scale(1.2);
            }
      
            .image{
              height: 25rem;
              width:100%;
              border-radius: .5rem;
              overflow:hidden;
      
              img{
                height: 100%;
                width:100%;
                object-fit: cover;
                transition: .2s linear;
              }
            }
      
            .content{
      
              .icons{
                position: relative;
                top:-1rem;
                border-radius: .5rem;
                padding:1.5rem;
                display: inline-block;
                background: $black;
      
                a{
                  font-size: 1.4rem;
                  margin:0 1rem;
                  color:$white;
                  text-decoration: none;
      
                  &:hover{
                    color:$crimson;
                  }
      
                  i{
                    padding-right: .5rem;
                    color:$crimson;
                  }
                }
              }
      
              h3{
                font-size: 2rem;
                color:$white;
                font-weight: normal;
              }
      
              p{
                font-size: 1.5rem;
                color:$light-color;
                padding:1rem 0;
                line-height: 2;
              }
            }
          }
        }
      }
}