@import "../../global.scss";
.projects {
  .portfolio {
    text-align: center;

    ul {
      margin: 10px;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      
      li {
        font-size: 20px;
        margin-right: 50px;
        padding: 7px ;
        border-radius: 12px;
        cursor: pointer;
        &.active {
          background-color: #18d26e;
          color: white;
        

        }
        @media (max-width: 450px) {
          font-size: 10px;
          border-radius: 12px;
          margin: 5px;
          padding: 5px;
           }
       
      }
      @media (max-width: 450px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      

         }
    }

    .box-container {
      @include grid(31rem);
      margin-bottom: 2rem;

      .box {
        height: 30rem;
        overflow: hidden;
        position: relative;

        &:hover {
          .content {
            transform: translateY(0%);
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .content {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgb(0, 0, 0,.8);
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          transform: translateY(-100%);
          transition: 0.2s linear;

          h3 {
            font-size: 2.5rem;
            color: $white;
            text-transform: uppercase;
            font-weight: normal;
          }

          p {
            padding: 1rem 0;
            font-size: 1.5rem;
            line-height: 2;
            color: $light-color;
          }

          .links{
            a {
              font-size: 2rem;
              color: $crimson;
              text-decoration: none;
              padding: 10px;
              // display: flex;
              // flex-wrap: wrap;
              .fas{
                font-size: 3rem;
              }
  
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
