@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Comfortaa", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  // text-transform: capitalize;
}

$crimson: #18d26e;
$black: #0d0d0d;
$light-bg: #1a1a1a;
$white: #fff;
$light-color: #aaa;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-width: none;


  &::-webkit-scrollbar {
    width: 1rem;
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $crimson;
    border-radius: 5rem;
  }
}

body {
}

section {
  padding: 5rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #18d26e;
  padding: 0.7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn .fa-user {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #18d26e;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn:hover .fa-user {
  margin-left: 2rem;
}

.heading {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 3rem;
  text-transform: uppercase;

  span {
    text-transform: uppercase;
    color: $crimson;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }

  .navbar {
    a {
      i {
        padding: 0;
      }

      span {
        display: none;
      }

      &:hover {
        padding-bottom: 2rem;
      }
    }
  }

  .home {
    text-align: center;
    gap: 2rem;

    .image img {
      height: 30rem;
      width: 30rem;
    }

    .content {
      h3 {
        font-size: 3rem;
      }
      h1 {
      display: none;
      }

      span {
        font-size: 2.5rem;
      }
    }
  }
  .projects {
    .portfolio {
      ul {
        li {
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
